In [36]:
import yfinance as yf 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import os

In [51]:
os.getcwd()
os.chdir("C:/Users/Administrator/Desktop/Projects/securities-personal/data")

In [53]:
spy = yf.download('SPY', start='2000-01-01', end='2024-12-31')

[*********************100%***********************]  1 of 1 completed

In [54]:
cpi = pd.read_csv('cpi.csv')

# Convert 'DATE' column to datetime format
cpi['DATE'] = pd.to_datetime(cpi['DATE'])

# Filter the DataFrame for dates starting from 2000-01-01
cpi_filtered = cpi[cpi['DATE'] >= '2000-01-01'].copy()

In [55]:
cpi_filtered

          DATE  CPIAUCSL
636 2000-01-01   169.300
637 2000-02-01   170.000
638 2000-03-01   171.000
639 2000-04-01   170.900
640 2000-05-01   171.200
..         ...       ...
926 2024-03-01   312.230
927 2024-04-01   313.207
928 2024-05-01   313.225
929 2024-06-01   313.049
930 2024-07-01   313.534

[295 rows x 2 columns]